$color-one:#ef7f81;
$color-one-trans:rgba(169, 238, 230, .7);

$color-two:#badfda;
$color-three:#FCFCFC;
$color-text-one:#695569;
$color-text-two:#fff;
@mixin background-image {
    background-size: cover;
    background-position: top;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}
a{
    text-decoration: none;
    color: $color-text-two;
    &:hover{
       
        
        color: $color-text-one;
    }
}

@keyframes vanLinks{
    0%{opacity: 0;
        transform: translateX(-100px)
        
    }
    
    100%{ opacity: 1;
        transform: translate(0)
    }
}

@keyframes vanOnder{
    0%{opacity: 0;
        transform: translateY(100px)
        
    }
    
    100%{ opacity: 1;
        transform: translate(0)
    }
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'bree serif';
}
nav {
    display: flex;
    justify-content: center;
    padding: .5rem;
    a {
        color: $color-text-two;
        font-family: 'Martel';
        text-decoration: none;
        padding: .5rem;
        font-size: 1.5rem;
    }
}
.header {
    background-image: linear-gradient(rgba(237, 113, 128, .8), rgba(255, 200, 200, .9)), url(../img/jade_zwartwit.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    @media screen and (min-width: 800px){
        width: 50vw;
        height: 97vh;
    }
    .header-textbox {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(259, 259, 259, .9);
        text-align: center;
        @media screen and (min-width: 800px){
            left: 25%;
        // transform: translate(-25%, -25%);
            width: 45%;
        }


        h1 {
            font-size: 2rem;
            font-family: 'Bitter';
            animation-name: vanLinks;
            animation-duration: 1.5s;
            @media screen and (min-width: 500px) {
                font-size: 3rem;
                
                
            }
            .subkop {
                display: block;
            }
        }
        h3 {
            color: $color-text-one;
            padding: 0.2rem;
            font-size: 2rem;
            animation-name: vanOnder;
                animation-duration: 1.5s;
        }
    }
}
/*resumee section*/
.resumee{
    height: 100vh;
    background-color: $color-three;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        color: $color-text-one;
    }
    .jobs{
        padding: 1rem;
        margin:0 2rem;
        overflow: scroll;

        @media screen and (min-width: 500px){
          
            font-size: 1.5rem;
        }
       
        @media screen and (min-width: 1000px){
           
            font-size: 1.6rem;
        }

        @media screen and (min-width: 1200px){
           
            font-size: 1.8rem;
        }
        text-align: justify;
        .category{
            color: $color-one;
        }

    }
    @media screen and (min-width: 800px){
        width: 50vw;
    }
}
.big-screen-container{
    @media screen and (min-width: 800px){
        display:flex;
        margin: 1rem;
        // height: 100vw;
    }
}

/*about section*/

#about-section {
    height: 100vh;
   
    text-align: center;
    overflow: scroll;
    
    .groen-vlak{
        height: 100vh;
        margin: 1rem;
        -webkit-clip-path: polygon(39% 0, 100% 0, 100% 100%, 67% 100%);
        clip-path: polygon(39% 0, 100% 0, 100% 100%, 67% 100%);
        background-color: $color-one-trans;
        position: absolute;
        width: 97vw;
        
        
    }
      
    
    nav {
        a {
            color: $color-text-one;
        }
    }
    #alle-tekst {
        position: relative;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: relative;
     
        h2 {
            font-size: 2rem;
            color: $color-text-one;
            padding: 1.5rem;
            width: 70vw;
            @media screen and (min-width: 600px) {
                
                 width:40vw;
                
            }
            
            @media screen and (min-width: 800px) {
                
                
              
                 width:30vw;
            }
            
        }
        .about-textbox {
            display: flex;
            flex-direction: column;
            width:80vw;
            
             @media screen and (min-width: 1000px) {
                
                 width:50vw;
            }
            .about-tekstvlak {
                .paragraaf {
                    text-align: justify;
                    padding: 0 1rem;
                    margin: 0.5rem .5rem;
                    font-size: 1.2rem;
                    
                    @media screen and (min-width: 800px) {
                
                font-size: 1.5rem;
            }
                }
            }
            #p2 {
                display: none;
            }
        }
        .meer-terug {
            display: flex;
            justify-content: flex-end;
            margin: .5 0 2rem;
            cursor: pointer;
            #terugknop {
                display: none;
            }
            .knop {
                color: $color-one;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
    .social-mediabox {
        margin-top: 5rem;
        
    }
    #email {
        text-align: center;
        padding: 1rem;
        color: $color-one;
        font-size: 1.5rem;
    }
}
#projects-section {
    height: 100vh;
    width: 100vw;
    color: $color-text-two;
    display: flex;
    flex-direction: column;
    position: relative;
    h2{
        font-size: 2.5rem;
        color: $color-text-one;
        position: relative;
        top: 3rem;
        margin: 1rem 0 5rem 3rem;
       align-self: flex-start;
    }
    .project-container{
        display: flex;
        flex-direction: column;
         align-items:center;
      height:100vh;

      @media screen and(min-width:650px){
        position: relative;
        top: 15rem;
 }
      

   

        .project{
            min-height: 15rem;
            min-width: 15rem;
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            background-color: #ef7f81;
            margin: 1rem;
            padding:.5rem;
            display:flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media screen and(min-width:650px){
                min-height: 22rem;
                min-width: 22rem;
            }
            .project-titel{
                text-align: center;
                font-size: 1rem;
                @media screen and(min-width:650px){
                    font-size: 1.5rem;
                }
            }
           
        }
        #project-2{
            position: relative;
            right: 8rem;
            bottom: 4rem;
           
            @media screen and(min-width:650px){
            right: 11.5rem;
            bottom: 5rem;
            }

           
        }
           
            
          
          
          #project-3{
            position: relative;
          
            bottom: 8rem;
            @media screen and(min-width:650px){
                bottom: 10.5rem;
            
                }
           
            
          }

          
          #project-uitleg{
            color: $color-text-one;
            background-color: $color-one-trans;
            position: relative;
            bottom: 38rem;
            left: 8rem;
            max-width: 15rem;
            display:none;
            padding: 5rem 2rem;
            
           
            #uitleg-tekst{
                padding: .5rem;
                
                overflow-wrap: break-word;
            }
        
    
             @media screen and(min-width:650px){
                    bottom: 53rem;
                    left: 12rem;
             }
    
    
          }
    }
        
}
    
.veranderAchtergrond{
    background-color: $color-one-trans;
    color: $color-text-one;
}

